#reviewsContainer{
    position: relative;
}

#reviewsWrapper{
    min-height: 20vh;
    margin: 0 0 2vw 0;
}

#reviewsStyle{
    position: absolute;
    width: 100%;
    height: 10vw;
    background-color: var(--main-color);
    top:-5vw;
    left: 0;
    z-index: -1;
    clip-path: ellipse(50% 40% at 50% 50%);
    opacity: 30%;
}

.react-multi-carousel-list{
    cursor: grab;
}
.react-multi-carousel-list:active{
    cursor: grabbing;
}
.review{
    display: inline-block;
    height: 20vw;
    aspect-ratio: 1/1.3;
    padding: 1vh 1vw;
    background-color: white;
    border: 1px solid #D9D9D9;
    border-radius: 10px;
    color: var(--secondary-text-color);
    user-select: none;
    overflow-y: auto;
}

.review-title{
    text-align: center;
    color: var(--secondary-text-color);
    font-weight: bold;
    font-size: 2.5vw;
    padding: 4vw 0 1vw 0;
}

    .review .name{
        margin-top: 5%;
        text-align: center;
        font-size: 1.4vw;
        font-weight: bold;
    }

    .review .stars{
        margin-top: 2.5%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
        .star{
            margin: 0 1%;
            background-image: url("/img/star.svg");
            width: 13%;
            aspect-ratio: 1/1;
            background-size: 100%;
        }

    .review .desc{
        margin-top: 5%;
        font-size: .8vw;
        line-height: 1.5em;
        display: inline-block;
        width: 90%;
        padding: 0 5%;
    }

#reviewLink{
    display: block;
    text-align: right;
    margin-top: 1vh;
    user-select: none;
}
    #reviewLink a{
        font-size: 1vw;
        margin-right:8vw;
        color: var(--main-text-color);
        font-weight: bold;
    }

.review-howmany{
    color: var(--secondary-text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 2vw;
    margin: 1vw 0 2vw 0;
    background-color: #acd9f0;
    padding: 1vw 0;
    box-shadow: 0px 8px 8px rgba(0,0,0,0.3);
}
.review-howmany span{
    font-size: 3vw;
    font-style: italic;
}

.review-howmany a{
    display: inline-block;
    background-image: url("/img/google.svg");
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 3vw;
    width: 3vw;
    margin-left: 1vw;
}

    /* TABLET STYLES */
@media only screen and (min-width: 650px) and (max-width: 990px){
    .review-title{
        font-size: 3.5vw;
        padding: 5vw 0 2vw 0;
    }
    #reviewsStyle{
        height: 12vw;
        top: -6vw;
    }
    #reviewsWrapper{
        margin-bottom: 4vw;
    }
    
    .review{
        height: 25vw;
        aspect-ratio: 1/1.3;
        padding: 1vh 1vw;
        
    }
    
        .review .name{
            font-size: 1.8vw;
        }
    
        .review .desc{
            margin-top: 5%;
            font-size: 1vw;
            line-height: 1.6em;
        }
    
        #reviewLink a{
            font-size: 1.8vw;
        }
.review-howmany{
    font-size: 3vw;
    margin: 2vw 0 3vw 0;
}
.review-howmany span{
    font-size: 4vw;
}

.review-howmany a{
    height: 4vw;
    width: 4vw;
    margin-left: 2vw;
}
}

/* MOBILE STYLES */
@media only screen and (max-width: 649px){
    #reviewsStyle{
        height: 20vw;
        top: -10vw;
    }
    .review-title{
        font-size: 2.2vh;
        padding: 4vh 0 1vh 0;
    }
    #reviewsWrapper{
        margin-bottom: 2vh;
    }
    
    .review{
        height: 20vh;
        aspect-ratio: 1/1.3;
        padding: 1vh 1vw;
    }
    
        .review .name{
            font-size: 1.2vh;
        }
    
        .review .desc{
            margin-top: 5%;
            font-size: 0.8vh;
            line-height: 1.6em;
        }
    
        #reviewLink a{
            font-size: 1.5vh;
        }
.review-howmany{
    font-size: 2vh;
    margin: 3vh 0 4vh 0;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.3);
}
.review-howmany span{
    font-size: 3vh;
}

.react-multi-carousel-item{
display: flex;
justify-content: center;
}

.review-howmany a{
    height: 3vh;
    width: 3vh;
    margin-left: 1vh;
    
}
}