@import url('https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=Kanit:ital,wght@0,100;0,200;0,300;1,100;1,200;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700;900&display=swap');
*{
    margin:0;
    padding:0;
}

textarea:focus, input:not(input[type="submit"]):focus{
    outline: 6px solid #0096e0;
    border-radius: 5px;
}

/* COLORS */
:root{
    --main-background-color: #F6F6F6;
    --main-color: #73BDE1;
    --main-text-color: #73BDE1;
    --main-font: "Istok Web", sans-serif;

    --secondary-text-color: #000;
    --secondary-font: "Kanit", sans-serif;
    --secondary-color: #005884;

    --third-text-color: #f2f2f2;
    --third-font: "Roboto", sans-serif;
}

body{
    background-color: var(--main-background-color);
    font-family: var(--main-font);
    color: var(--main-text-color);
    scroll-behavior: smooth;
}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Desktop/tablet STYLES */
@media only screen and (min-width: 768){
    .mobile{
        display: none;
    }
    
}
/* TABLET STYLES */
@media only screen and (min-width: 768px) and (max-width: 990px){

}

/* MOBILE STYLES */
@media only screen and (max-width: 767px){
    .no-mobile{
        display: none;
    }
}