#contactWrapper{
    margin: 2vh 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: var(--secondary-color);
    color: var(--third-text-color);
}

#contactWrapper h2{
    font-size: 1.9vw;
    margin-right: 1vw;
}
#contactWrapper .links{
    margin-left: 1vw;
}

#contactWrapper .links a{
    display: inline-flex;
    align-items: center;
    width: 10vw;
    border: 1px solid white;
    padding: 0.2vh 1vh;
    margin: 1vh;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    transition: 0.3s background-color;
    background-color: var(--secondary-color);
}

#contactWrapper .links a img{
    position: relative;
    width: 21%;
    aspect-ratio: 1/1;
    display: inline-block;
}

#contactWrapper .links a span{
    margin-left: 1vw;
    display: inline-block;
    font-family: var(--secondary-font);
    font-weight: 600;
    font-size: 1vw;
}

#contactWrapper .links a:nth-child(1){
    background-color: #E79F5D;
    border: 1px solid transparent;
}
#contactWrapper .links a:nth-child(1):hover{
    background-color: #ce8e52;
}

#contactWrapper .links a:nth-child(2):hover{
    background-color: #0572a8;
}

footer{
    margin-top: 10vh;
    font-size: 0.8vw;
    padding: 1vh 0;
    background-color: var(--secondary-color);
    color: var(--third-text-color);
    text-align: center;
}

/* TABLET STYLES */
@media only screen and (min-width: 650px) and (max-width: 990px){
    #contactWrapper{
        margin: 2vh 0;
    }
    
    #contactWrapper h2{
        font-size: 2.9vw;
    }
    
    #contactWrapper .links a{
        width: 15vw;
    }
    
    #contactWrapper .links a span{
        font-size: 1.5vw;
    }
    footer{
        margin-top: 8vh;
        font-size: 1vw;
    }
}

/* MOBILE STYLES */
@media only screen and (max-width: 649px){
    #contactWrapper{
        margin: 1vh 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    #contactWrapper h2{
        font-size: 2.9vh;
    }
    #contactWrapper .links{
        margin-left: 0;
    }
    
    #contactWrapper .links a{
        width: 32vw;
    }
    
    #contactWrapper .links a span{
        font-size: 1.5vh;
        margin-left: 1vh;
    }
    footer{
        margin-top: 6vh;
        font-size: 1vh;
    }
}