#commercialResidentialWrapper{
    margin-top: 10vh;
    display: flex;
    
    justify-content: space-evenly;
    color: var(--secondary-text-color);
}
#commercial, #residential{
    display: inline-block;
    width: 25%;
}
#commercial img, #residential img{
    display: inline-block;
    width: 20%;
    margin-left: 40%;
}
#commercial h2, #residential h2{
    text-align: center;
    font-size: 2vw;
}
#commercial p, #residential p{
    font-size: 1.2vw;
}